<!DOCTYPE html>
<html>
<head>
  <title>Car Map</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Hi</h1>
  <% if (locals.msg) { %>
    <h3><%= msg %></h3>
  <% } %>
  <a href="/create">Create 20 cars in dummy set</a><br><br>
  <form action="/filter" method="post">
    <label class="filterLabel" for="make">Make: </label>
    <input type="text" id="make" name="make"><br><br>
    <label class="filterLabel" for="model">Model: </label>
    <input type="text" id="model" name="model"><br><br>
    <label class="filterLabel" for="minyear">Earliest Year: </label>
    <input type="number" id="minyear" name="minyear"><br><br>
    <label class="filterLabel" for="maxyear">Latest Year: </label>
    <input type="number" id="maxyear" name="maxyear"><br><br>
    <label class="filterLabel" for="extcolor">Exterior Color: </label>
    <input type="text" id="extcolor" name="extcolor"><br><br>
    <label class="filterLabel" for="intcolor">Interior Color: </label>
    <input type="text" id="intcolor" name="intcolor"><br><br>
    <label class="filterLabel" for="minprice">Minimum Price: </label>
    <input type="number" id="minprice" name="minprice"><br><br>
    <label class="filterLabel" for="maxprice">Maximum Price: </label>
    <input type="number" id="maxprice" name="maxprice"><br><br>
    <label class="filterLabel" for="minmiles">Minimum Mileage: </label>
    <input type="number" id="minmiles" name="minmiles"><br><br>
    <label class="filterLabel" for="maxmiles">Maximum Mileage: </label>
    <input type="number" id="maxmiles" name="maxmiles"><br><br>
    <label>Condition: </label><br>
    <input type="checkbox" name="condition" id="conditionUsed" value="3000" checked><label class="conditionLabel" for="conditionUsed"> Used</label><br>
    <input type="checkbox" name="condition" id="conditionPreOwn" value="2500" checked><label class="conditionLabel" for="conditionPreOwn"> Certified pre-owned</label><br>
    <input type="checkbox" name="condition" id="conditionNew" value="1000" checked><label class="conditionLabel" for="conditionNew"> New</label><br>
    <label>Sort by: </label><br>
    <input type="radio" name="sort" id="sortMake" value="make" checked><label class="sortLabel" for="sortMake"> Make/Model</label><br>
    <input type="radio" name="sort" id="sortLow" value="low"><label class="sortLabel" for="sortLow"> Lowest Price</label><br>
    <input type="radio" name="sort" id="sortHigh" value="high"><label class="sortLabel" for="sortHigh"> Highest Price</label><br>
    <br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
